<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
    <key>NSExtension</key>
    <dict>
        <key>SFSafariContentScript</key>
        <array>
            <dict>
                <key>Script</key>
                <string>script.js</string>
            </dict>
        </array>
        <key>SFSafariWebsiteAccess</key>
        <dict>
            <key>Level</key>
            <string>All</string>
        </dict>
    </dict>
</dict>
</plist>
